<h2>Marketplace</h2>

<div *ngFor="let album of albums | async" class="panel panel-default">
  <!-- <div *ngFor="let album of albums" (click)="goToDetailPage(album)" class="panel panel-default"> -->
  <div class="panel-body">

  <h3 (click)="goToDetailPage(album)"><em>{{album.title}}</em> by {{album.artist}}</h3>
  <!-- <h1>{{album.$key}}</h1> -->
  <div *ngIf="currentRoute === '/admin'">
    {{album.description}}
    <hr>
    <app-edit-album [selectedAlbum]="album"></app-edit-album>
  </div>
  </div>

</div>
<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>
